@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
 
:root{
    --cor1:#F8F8F8;
    --cor2:#212121;
    --cor3:#0ACCF0;
    --font1:'Rubik', sans-serif;
 }

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
}
body{
    background-color: var(--cor1);
}
nav{
    background-color: var(--cor1);
    column-count: 2;
}
ul {
    display: flex;
    justify-content: end;
    padding: 30px;
    text-align: center;
}
ul a{
    padding-left: 5px;
    padding-right: 5px;
}
.logo{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
}
.home{

    font-family: var(--font1);
    column-count: 2;
    column-gap: 15px;
    -webkit-column-count: 2;
    align-items:baseline;
}
.me{
    width: 150px;
    height: 150px;
}